:host {
      color: var(--text-color);
    }
.text-btn{
      background-color: #1abc9c;
      color: white;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
  }

  .img-btn{
        position: 'relative';
        width: '100px';
        height: '100px';
        cursor: pointer;
  }

//   .storybook-button--secondary {
//       color: #333;
//       background-color: transparent;
//       box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
//     }
//     .storybook-button--small {
//       font-size: 12px;
//       padding: 10px 16px;
//     }
//     .storybook-button--medium {
//       font-size: 14px;
//       padding: 11px 20px;
//     }
//     .storybook-button--large {
//       font-size: 16px;
//       padding: 12px 24px;
//     }
    