:host {
    color: var(--text-color);
  }
.text-btn{
    background-color: #1abc9c;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.img-btn{
      position: 'relative';
      width: '100px';
      height: '100px';
      cursor: pointer;
}

