.text-btn {
  color: white;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background-color: #1abc9c;
  font-size: 20px;
  padding: 8px 0px;
}

.img-btn {
  position: "relative";
  background-color: none;
  width: "100px";
  height: "100px";
  cursor: pointer;
  background-color: white;
  border: none;
}
