<div *ngIf="user">
    <div class="item1">
        <app-button [buttonConfig]="{text: 'Share Link'}" (click)="OnClick()"></app-button>
        <app-button [buttonConfig]="{text: 'Logout'}" (click)="logout()"></app-button>
    </div>
    <div *ngIf="add" >
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label>Title</label>
                <input type="text" formControlName="title" />
                <div *ngIf="submitted && f.title.errors">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
            </div>
            <div>
                <label>Description</label>
                <input type="text" formControlName="desc" />
                <div *ngIf="submitted && f.desc.errors">
                    <div *ngIf="f.desc.errors.required">Description is required</div>
                </div>
            </div>
            <div>
                <label>Category</label>
                <input type="text" formControlName="category" />
                <div *ngIf="submitted && f.category.errors">
                    <div *ngIf="f.category.errors.required">Category is required</div>
                </div>
            </div>
            <div>
                <label>Release Date</label>
                <input type="date" formControlName="releaseDate" />
                <div *ngIf="submitted && f.releaseDate.errors">
                    <div *ngIf="f.releaseDate.errors.required">Release Date is required</div>
                </div>
            </div>
            <div>
                <button>
                    SHARE
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="isUpdate">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdateLink()">
            <div>
                <label>Title</label>
                <input type="text" formControlName="updateTitle" />
                <div *ngIf="submitted && fc.updateTitle.errors">
                    <div *ngIf="fc.updateTitle.errors.required">Title is required</div>
                </div>
            </div>
            <div>
                <label>Description</label>
                <input type="text" formControlName="updateDesc" />
                <div *ngIf="submitted && fc.updateDesc.errors">
                    <div *ngIf="fc.updateDesc.errors.required">Description is required</div>
                </div>
            </div>
            <div>
                <label>Category</label>
                <input type="text" formControlName="updateCategory" />
                <div *ngIf="submitted && fc.updateCategory.errors">
                    <div *ngIf="fc.updateCategory.errors.required">Category is required</div>
                </div>
            </div>
            <div>
                <label>Release Date</label>
                <input type="date" formControlName="updateYear" />
                <div *ngIf="submitted && fc.updateYear.errors">
                    <div *ngIf="fc.updateYear.errors.required">Release Date is required</div>
                </div>
            </div>
            <div>
                <button>
                    Update
                </button>
            </div>
        </form>
    </div>
    <section>
        <div *ngFor="let data of (selectData$ | async)">
            <div>
                <div>
                    <sa-card title="{{data.title}}" desc="{{data.description}}" category="{{data.category}}"
                        year="{{data.year}}" isLoggedIn = "user" id = "{{data.id}}" (change) = "onUpdate($event)" (delete) = "onDelete($event)">
                    </sa-card>
                </div>
                <!-- <button (click)="onUpdate(data.id)">UPDATE</button><button (click)="onDelete(data.id)">DELETE</button> -->
            </div>
        </div>
    </section>
</div>