<div class="grid-container">
  <div class="item1" *ngIf="!user">
    <div class="head-line"> <h1>Movie Share</h1><span><img src="../assets/svg/movie-recorder-svgrepo-com.svg"/></span></div>
    <div class="top-nav">
      <div class="btns">
        <app-button [buttonConfig]="{text: 'Login'}" routerLink="/account/login"></app-button>
        &nbsp;
        <app-button [buttonConfig]="{text: 'Register'}" routerLink="/account/register"></app-button>
      </div>
      <label class="switch">
        <input  id="darkTheme" type="checkbox"  [formControl]="darkTheme"/>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="item2">
    <router-outlet></router-outlet>
  </div>
  <section class="item3" *ngIf="!user">
    <div *ngFor="let data of (selectData$ | async)">
      <sa-card title = "{{data.title}}" desc = "{{data.description}}" category = "{{data.category}}" year = "{{data.year}}"></sa-card>
    </div>
  </section>
</div>